# Compiled source #
###################
dynamite/__pycache__
tests/__pycache__
legacy_fortran/galahad-2.3/bin/sys/*
legacy_fortran/galahad-2.3/makefiles/*
legacy_fortran/galahad-2.3/modules/*
legacy_fortran/galahad-2.3/objects/*
legacy_fortran/galahad-2.3/versions/*
.spyproject
tests/NGC6278/models/*
tests/NGC6278/all_models.ecsv
