# Compiled source #
###################
.DS_Store
dynamite/__pycache__
legacy_fortran/galahad-2.3/bin/sys/*
legacy_fortran/galahad-2.3/makefiles/*
legacy_fortran/galahad-2.3/modules/*
legacy_fortran/galahad-2.3/objects/*
legacy_fortran/galahad-2.3/versions/*
!legacy_fortran/galahad-2.3/bin/sys/.gitkeep
!legacy_fortran/galahad-2.3/makefiles/.gitkeep
!legacy_fortran/galahad-2.3/modules/.gitkeep
!legacy_fortran/galahad-2.3/objects/.gitkeep
!legacy_fortran/galahad-2.3/versions/.gitkeep
legacy_fortran/*.mod
legacy_fortran/*.o
legacy_fortran/modelgen
legacy_fortran/orbitstart
legacy_fortran/orblib
legacy_fortran/partgen
legacy_fortran/triaxmass
legacy_fortran/triaxmassbin
legacy_fortran/triaxnnls_CRcut
.spyproject
tests/.DS_Store
tests/__pycache__
tests/NGC6278_output/models/*
tests/NGC6278_output/all_models.ecsv
tests/NGC6278_output/plots/*
docs/_build/
docs/.DS_Store
docs/tutorial_notebooks/.DS_Store
docs/tutorial_notebooks/.ipynb_checkpoints/*
docs/tutorial_notebooks/NGC6278_output/*
plotbin/.DS_Store
plotbin/__pycache__/*
build/*
dist/*
dynamite.egg-info/*
list_of_created_files.txt
